<div class="flex flex-col h-full w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 overflow-hidden transition-all duration-300 hover:shadow-lg">
    <div class="flex-grow px-4 py-5 sm:p-6">
        <h5 class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">Plan {{tipo}}</h5>
        <div class="flex items-baseline text-gray-900 dark:text-white">
            <span class="text-3xl font-semibold">S/.</span>
            <span class="text-5xl font-extrabold tracking-tight">{{precio}}</span>
            <span class="ml-1 text-xl font-normal text-gray-500 dark:text-gray-400">/mes</span>
        </div>
        <ul role="list" class="space-y-5 my-7">
            <li *ngFor="let beneficio of beneficios" class="flex items-center" [class.opacity-50]="!beneficio.incluido">
                <svg class="flex-shrink-0 w-4 h-4 text-indigo-600 dark:text-indigo-500" [class.text-gray-400]="!beneficio.incluido" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                </svg>
                <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ml-3" [class.line-through]="!beneficio.incluido">{{beneficio.descripcion}}</span>
            </li>
        </ul>
    </div>
    <div class="px-4 py-3 bg-gray-50 dark:bg-gray-700 sm:px-6">
        <button type="button" [routerLink]="['/register', tipo]" class="w-full text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:ring-indigo-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-indigo-700 dark:hover:bg-indigo-800 dark:focus:ring-indigo-900 transition-colors duration-300">Elegir plan</button>
    </div>
</div>
