<p class="text-2xl text-center font-extrabold text-gray-800 dark:text-white">
  Dashboard
</p>

<section class="bg-gray-50 py-8 antialiased dark:bg-gray-900 md:py-12">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div
      class="mb-4 grid gap-4 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4"
    >
      <div
        routerLink="product"
        class="rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800 hover:scale-110 transition-all hover:shadow-2xl hover:cursor-pointer"
      >
        <div class="h-57 w-full flex flex-col items-center justify-center">
          <a class="flex flex-col items-center justify-center">
            <svg
              class="h-16 w-16 dark:hidden text-gray-500 duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 18 20"
            >
              <path
                d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"
              />
            </svg>
            <span
              class="mt-2 text-center font-extrabold text-gray-800 dark:text-white"
              >Inventario</span
            >
          </a>
        </div>
      </div>

      <div
        routerLink="purchase"
        class="rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800 hover:scale-110 transition-all hover:shadow-2xl hover:cursor-pointer"
      >
        <div class="h-57 w-full flex flex-col items-center justify-center">
          <a class="flex flex-col items-center justify-center">
            <svg
              class="h-16 w-16 dark:hidden text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M16 12H4m12 0-4 4m4-4-4-4m3-4h2a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-2"
              />
            </svg>
            <span
              class="mt-2 text-center font-extrabold text-gray-800 dark:text-white"
              >Ingreso</span
            >
          </a>
        </div>
      </div>

      <div
        routerLink="sale"
        class="rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800 hover:scale-110 transition-all hover:shadow-2xl hover:cursor-pointer"
      >
        <div class="h-57 w-full flex flex-col items-center justify-center">
          <a class="flex flex-col items-center justify-center">
            <svg
              class="h-16 w-16 dark:hidden text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2"
              />
            </svg>
            <span
              class="mt-2 text-center font-extrabold text-gray-800 dark:text-white"
              >Salida</span
            >
          </a>
        </div>
      </div>

      <div
        routerLink="vouchers"
        class="rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800 hover:scale-110 transition-all hover:shadow-2xl hover:cursor-pointer"
      >
        <div class="h-57 w-full flex flex-col items-center justify-center">
          <a class="flex flex-col items-center justify-center">
            <svg
              class="h-16 w-16 dark:hidden text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 18 20"
            >
              <path
                d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM7 9a1 1 0 0 1-2 0V7h2v2Zm0-5a2 2 0 1 1 4 0v1H7V4Zm6 5a1 1 0 1 1-2 0V7h2v2Z"
              />
            </svg>
            <span
              class="mt-2 text-center font-extrabold text-gray-800 dark:text-white"
              >Comprobantes</span
            >
          </a>
        </div>
      </div>

      <div
        routerLink="ordering"
        class="rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800 hover:scale-110 transition-all hover:shadow-2xl hover:cursor-pointer"
      >
        <div class="h-57 w-full flex flex-col items-center justify-center">
          <a
            routerLink="pedidos"
            class="flex flex-col items-center justify-center"
          >
            <svg
              class="h-16 w-16 dark:hidden text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M20 10H4v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8ZM9 13v-1h6v1a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1Z"
                clip-rule="evenodd"
              />
              <path d="M2 6a2 2 0 0 1 2-2h16a2 2 0 1 1 0 4H4a2 2 0 0 1-2-2Z" />
            </svg>
            <span
              class="mt-2 text-center font-extrabold text-gray-800 dark:text-white"
              >Pedidos</span
            >
          </a>
        </div>
      </div>

      <div
        routerLink="brand"
        class="rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800 hover:scale-110 transition-all hover:shadow-2xl hover:cursor-pointer"
      >
        <div class="h-57 w-full flex flex-col items-center justify-center">
          <a class="flex flex-col items-center justify-center">
            <svg
              class="h-16 w-16 dark:hidden text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M8 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-6 8a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm1 3a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Z"
                clip-rule="evenodd"
              />
            </svg>
            <span
              class="mt-2 text-center font-extrabold text-gray-800 dark:text-white"
              >Marcas</span
            >
          </a>
        </div>
      </div>

      <div
        routerLink="category"
        class="rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800 hover:scale-110 transition-all hover:shadow-2xl hover:cursor-pointer"
      >
        <div class="h-57 w-full flex flex-col items-center justify-center">
          <a class="flex flex-col items-center justify-center">
            <svg
              class="h-16 w-16 dark:hidden text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M8 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-6 8a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm1 3a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Z"
                clip-rule="evenodd"
              />
            </svg>
            <span
              class="mt-2 text-center font-extrabold text-gray-800 dark:text-white"
              >Categorias</span
            >
          </a>
        </div>
      </div>

      <div
        routerLink="admin-user"
        class="rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800 hover:scale-110 transition-all hover:shadow-2xl hover:cursor-pointer"
      >
        <div class="h-57 w-full flex flex-col items-center justify-center">
          <a class="flex flex-col items-center justify-center">
            <svg
              class="h-16 w-16 dark:hidden text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 18"
            >
              <path
                d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"
              />
            </svg>
            <span
              class="mt-2 text-center font-extrabold text-gray-800 dark:text-white"
              >Entidades</span
            >
          </a>
        </div>
      </div>

      <div
        routerLink="list-quotation"
        class="rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800 hover:scale-110 transition-all hover:shadow-2xl hover:cursor-pointer"
      >
        <div class="h-57 w-full flex flex-col items-center justify-center">
          <a class="flex flex-col items-center justify-center">
            <svg
              class="h-16 w-16 dark:hidden text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2"
              />
            </svg>
            <span
              class="mt-2 text-center font-extrabold text-gray-800 dark:text-white"
              >Cotizaciones</span
            >
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
