<div class="mb-6">
    <label [for]="Name+'Select'" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{Name}}</label>
    <select [id]="Name+'Select'" [name]="Name+'Select'" [(ngModel)]="Selected" (ngModelChange)="onValueChange($event)" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500">
        <option value="" disabled selected>Elegir...</option>
        @for (item of Data; track $index) {
          <option [value]="item.id"> {{ item.nombre }}</option>
        }
    </select>  
</div>