<div class="w-full h-full flex items-center justify-center">
    <div class="flex flex-col flex-nowrap items-center">
      <app-modal [isOpen]="FlagModal" [title]="'Crear Cuenta'" (close)="toggleModal()">
        <form (ngSubmit)="register()">
          <div class="mb-6">
            <label for="username_r" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
            <input type="text" id="username_r" name="username_r" placeholder="Ingrese nombre del usuario..." [(ngModel)]="usuario.email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500" />
          </div>
  
          <div class="mb-6">
            <label for="password_r" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
            <input type="password" id="password_r" name="password_r" placeholder="Ingrese contraseña del usuario..." [(ngModel)]="usuario.password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500" />
          </div>
          
          <div class="mb-6">
            <label for="nombre_r" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
            <input type="text" id="nombre_r" name="nombre_r" placeholder="Ingrese contraseña del usuario..." [(ngModel)]="usuario.nombre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500" />
          </div>
          <div class="mb-6">
            <label for="apellido_r" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido</label>
            <input type="text" id="apellido_r" name="apellido_r" placeholder="Ingrese contraseña del usuario..." [(ngModel)]="usuario.apellido" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500" />
          </div>
          <div class="mb-6">
            <label for="documento_r" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Documento</label>
            <input type="text" id="documento_r" name="documento_r" placeholder="Ingrese el Documento..." [(ngModel)]="usuario.documento" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500" />
          </div>
          <div class="mb-6">
            <label for="direccion_r" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Direccion</label>
            <input type="text" id="direccion_r" name="direccion_r" placeholder="Ingrese direccion del usuario..." [(ngModel)]="usuario.direccion" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500" />
          </div>
          <div class="mb-6">
            <label for="telefono_r" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Telefono/Celular</label>
            <input type="text" id="telefono_r" name="telefono_r" placeholder="Ingrese telefono/celular del usuario..." [(ngModel)]="usuario.telefono" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500" />
          </div>
          <div class="mb-6">
            <label for="subscripcion_r" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Codigo de Subscripcion</label>
            <input type="text" id="subscripcion_r" name="subscripcion_r" placeholder="Ingrese codigo de subscripcion" [(ngModel)]="usuario.tenantId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500" />
          </div>
          <button
          class="w-full items-center rounded-lg bg-purple-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-purple-800 focus:outline-none focus:ring-4  focus:ring-purple-300 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800"
          type="submit">Crear</button>
  
        </form>
      </app-modal>
      <form class="w-80">
        <div class="w-28 h-28 mx-auto mb-10 bg-slate-300 rounded-full shadow-2xl">
          <img class="w-full h-full object-contain shadow-sm rounded-full" src="https://www.asesora2.cl/servicios/76-home_default/sistema-boleta-y-factura-electronica-anual.jpg" alt="usuario">
        </div>
        <h1 class="h3 mb-3 fw-normal">Empresa Fryzán</h1>
    

        <app-input [Data]="usuario.email" (DataChange)="usuario.email = $event" [Name]="'Email'" [Placeholder]="'ejemplo@gmail.com'" ></app-input>
        <app-input [Data]="usuario.password" (DataChange)="usuario.password = $event" [Name]="'Password'" [Type]="'password'" [Placeholder]="'************'"></app-input>
    
        <div class="flex items-center mb-4">
          <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 rounded focus:ring-purple-500 dark:focus:ring-purple-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="default-checkbox" class="ms-2 text-sm font-light text-gray-900 dark:text-gray-300">Recordar contrasena</label>
      </div>
      </form>
      <div class="flex flex-row flex-nowrap gap-4">
        <button type="button" class="py-2 px-4 bg-purple-800 hover:bg-purple-700 transition-all hover:scale-105 text-white rounded-lg" (click)="login()">Iniciar Sesión</button>
        <button type="button" class="py-2 px-4 bg-purple-800 hover:bg-purple-700 transition-all hover:scale-105 text-white rounded-lg" (click)="toggleModal()">Registrarse</button>
      </div>
      <p class="mt-5 mb-3 text-muted">&copy; 2024 Empresa Fryzán</p>
    </div>
</div>