

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-teal-600/55 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                @for (column of columns; track $index) {
                    <th scope="col" class="px-6 py-3">
                        {{column}}
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @for (row of data; track $index) {
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    @for (column of columns; track $index) {
                        <td class="px-6 py-4">
                            {{row[column]}}
                        </td>
                    }
                </tr>
            }@empty {
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="px-6 py-4">
                        No hay datos disponibles.
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

