<!-- <div id="chartline">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [dataLabels]="chartOptions.dataLabels"
    [grid]="chartOptions.grid"
    [stroke]="chartOptions.stroke"
    [title]="chartOptions.title"
  ></apx-chart>
</div> -->
<div id="chartmultiline">
  <apx-chart
    [series]="chartOptionsMultiline.series"
    [chart]="chartOptionsMultiline.chart"
    [colors]="chartOptionsMultiline.colors"
    [xaxis]="chartOptionsMultiline.xaxis"
    [yaxis]="chartOptionsMultiline.yaxis"
    [dataLabels]="chartOptionsMultiline.dataLabels"
    [grid]="chartOptionsMultiline.grid"
    [stroke]="chartOptionsMultiline.stroke"
    [title]="chartOptionsMultiline.title"
    [legend]="chartOptionsMultiline.legend"
  ></apx-chart>
</div>
<div id="chartBar">
  <apx-chart
    [series]="chartOptionsBar.series"
    [chart]="chartOptionsBar.chart"
    [colors]="chartOptionsBar.colors"
    [xaxis]="chartOptionsBar.xaxis"
    [yaxis]="chartOptionsBar.yaxis"
    [dataLabels]="chartOptionsBar.dataLabels"
    [grid]="chartOptionsBar.grid"
    [stroke]="chartOptionsBar.stroke"
    [title]="chartOptionsBar.title"
    [legend]="chartOptionsBar.legend"
  ></apx-chart>
</div>
