<div class="flex flex-row justify-between py-7 px-2">
    <h1 class="font-extrabold text-3xl">USUARIOS</h1>
    <button (click)="AbrirModal()" class="text-white px-5 py-2 rounded-lg bg-blue-700 hover:bg-teal-800 font-extrabold">NUEVO</button>    
</div>
<div class="mb-6">
    <label for="buscador" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Buscador</label>
    <div class="flex items-center space-x-3">
        <input type="text" id="buscador" name="buscador" (input)="search($event)" placeholder="Buscar por nombre..." class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500" required />
        <select id="filtroRol" name="filtroRol" (change)="BuscarRol($event)"  required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500">
            <option value="0" selected>Todos...</option>
            @for (rol of Roles; track $index) {
                <option [value]="rol.id"> {{ rol.nombre }}</option>
            }
        </select>
    </div>

</div>
<app-modal [isOpen]="FlagModal" [title]="'Crear Curso'" (close)="ToggleModal()">

    <Form>
        <app-input [Data]="NewEntidad.nombre" (DataChange)="NewEntidad.nombre = $event" [Name]="'Nombre'" [Type]="'text'" [Placeholder]="'Ingrese su Nombre'"></app-input>
        <app-input [Data]="NewEntidad.apellido" (DataChange)="NewEntidad.apellido = $event"  [Name]="'Apellido'" [Type]="'text'" [Placeholder]="'Ingrese su Apellido'"></app-input>
        <app-input [Data]="NewEntidad.documento" (DataChange)="NewEntidad.documento = $event"  [Name]="'Documento'" [Type]="'text'" [Placeholder]="'Ingrese su Documento'"></app-input>
        <app-input [Data]="NewEntidad.direccion" (DataChange)="NewEntidad.direccion = $event"  [Name]="'Direccion'" [Type]="'text'" [Placeholder]="'Ingrese una Direccion'"></app-input>
        <app-input [Data]="NewEntidad.telefono" (DataChange)="NewEntidad.telefono = $event"  [Name]="'Telefono'" [Type]="'text'" [Placeholder]="'Ingrese un Telefono'"></app-input>
        <app-input [Data]="NewEntidad.email" (DataChange)="NewEntidad.email = $event"  [Name]="'Email'" [Type]="'email'" [Placeholder]="'Ingrese un Email'"></app-input>
        
        <app-input [Data]="NewEntidad.password" (DataChange)="NewEntidad.password = $event"  [Name]="'Password'" [Type]="'password'" [Placeholder]="'***********'"></app-input>
        <app-select [Data]="Roles" [Selected]="NewEntidad.RolId" (SelectedChange)="NewEntidad.RolId = $event" [Name]="'Rol'"></app-select>
        
        <button type="button" (click)="Crear()"  class="text-white w-full px-5 py-2 font-extrabold rounded-lg bg-teal-900 hover:bg-teal-800">CREAR</button>
    </Form>
</app-modal>

<app-tables [data]="Filtro" [columns]="['id','nombre','apellido','documento','email','RolId']"></app-tables>